
<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Its not ok</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <div class = "main-div">

            {% comment %} nav bar  {% endcomment %}
            <nav class = "navbar target">
                <a href = "{% url 'test' %}" class = "nav-link">
                    <span class = "nav-head"> GET HELP</span>
                </a>
                <a href = "{% url 'aboutus' %}" class = "nav-link">
                    <span class = "nav-head"> ABOUT US </span>
                </a>
                <a href = "{% url 'story' %}" class = "nav-link">
                    <span class = "nav-head"> TALES </span>
                </a>
    
            </nav>

            {% comment %} this section is for the icon in the front page {% endcomment %}
           

            <img class ="main-icon" src = "{% static 'logo.jpg'%}">

            {% comment %} This is for the heading of the website  {% endcomment %}
            <h1 class = "section1heading">STRONGER TOGETHER</h1>

            {% comment %} this is for the other part of the main page {% endcomment %}
            <section class = "section1">
                {% comment %} pop up div {% endcomment %}
                <div class = "popup listen">
                    <h1 class = "popuphead listen ">EMERGENCY</h1>
                    <button class = "popupbut">IAM OK</button>
                    <form class = "popupform" action = "mailto:shulavthapaliya10@gmail.com" method="post" enctype= "multipart/form-data" name ="Emailform">
                        <input class = cont1 type = "text" placeholder = "NAME" name = "NAME" >
                        <input class = cont1 type = "text" placeholder = "ADDRESS" name = "ADDRESS">
                        <input class = "cont2"type = "text" placeholder = "DESCRIPTION(BREIF)" name = "DESCRIPTION">
            
                        <input class = "formbut"type = "submit" value = "SUBMIT">
                        
                    </form>
                    
    
    
    
    
                </div>
                {% comment %} end of pop up div  {% endcomment %}

                {% comment %}  This is for the main page   {% endcomment %}
                
                <div class = "section1div">
                    <h1 class = "divheading change"> STRONGER TOGETHER </h1>
                    <h1 class = "divheading"> WE ARE HERE </h1>
                    <h1 class = "divheading"> WE ARE LISTENING </h1>
                    <h1 class = "divheading"> WE ARE ACTIVE</h1> 
                </div>
            </section>
        
        

            
        </div>
            
        


        
            

            
            

            
            {% comment %} end of section 1 {% endcomment %}





            {% comment %} section2 about us  {% endcomment %}
            
           
        
        
        
        
        <script src="{% static 'style.js' %}"></script>
        <script src="{% static 'style2.js' %}"></script>
    </body>

    
</html>
