
<!DOCTYPE html>
{% load static %}

<html>
    <head>
        
        <title>story</title>
        
        <link rel="stylesheet" href="{% static 'story.css' %}">
    </head>
    <body>
        <h1 class= "heading"> STORY</h1>
   
        <div class = "storycontainer">
        
        {%for i in data%}
            <div class = "all">
                <div class = "photoBoth">
                    {% if i.gender == 'M'%}
                        <img src="{%static 'man.png'%}" class = "icon"> 
                    {% elif i.gender == 'F'%}
                        <img src="{%static 'woman.png'%}" class = "icon">
                    {% endif %}
                    <h1 class = "title">{{i.Name}}</h1>
                </div>
                <div class ="story">
                    <img src="{%static 'flower-bouquet.png'%}" class = "icon2"> 
                    <p class = "par"> {{i.Story}}</p>
                    
                </div>
                
                <div class = "commentContainer">
                    {% for y in i.comment_set.all%}

                        <div class = "commentdiv">
                            <img src="{%static 'sunflower.png'%}" class = "icon2">
                            <p class = "comments">{{y.comment}}</p><br>
                            
                        </div>
                    {% endfor %}
                </div>
        {% endfor %}
        <button class = "button1"> ViewComment</button>
        <a  class = "commentform" href = "{%url 'formpage'%}">AddComment</a>
    
        

        
        <script src="{% static 'story.js' %}"></script>
       
        
    </body>
</html>