<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Story</title>
        <link rel="stylesheet" href="{% static 'story.css' %}">
    </head>
    <body>
        {% include 'homepage/navbar.html' %}
        
        <div class="master">
            <h1 class="heading">Tales Untold</h1>
            
            {% for i in data %}
            <div class="story-card">
                <div class="photo-section">
                    {% if i.gender == 'M' %}
                        <img src="{% static 'man.png' %}" class="icon">
                    {% elif i.gender == 'F' %}
                        <img src="{% static 'woman.png' %}" class="icon">
                    {% endif %}
                    <h2 class="title">{{ i.Name }}</h2>
                </div>
                <div class="content-section">
                    <p class="par">{{ i.Story }}</p>
                    <a class="comment" href="{% url 'comment' i.id %}">Comment</a>
                </div>
            </div>
            {% endfor %}
            
            <a class="commentform" href="{% url 'newform' %}">Add Comment</a>
        </div>
        
        <script src="{% static 'story.js' %}"></script>
    </body>
</html>
