body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    overflow-x: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    background-color: #f9f9f9;
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main-head {
    font-size: 2.5em;
    color: #2c3e50;
    margin-bottom: 30px;
    position: relative;
    animation: slideInFromLeft 1s ease-out;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.main-img {
    width: 80%;
    max-width: 600px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    animation: bounceIn 1s;
}

.main-img:hover {
    transform: scale(1.05);
}

@keyframes bounceIn {
    0% {
        transform: scale(0.3);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.par {
    width: 80%;
    max-width: 800px;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.6;
    color: #2c3e50;
    border-left: 4px solid #e74c3c;
    padding-left: 20px;
    animation: slideInFromRight 1s ease-out;
}

/* Container for the icons */
.social-icons {
    display: flex;
    justify-content: center; /* Center the icons horizontally */
    align-items: center;     /* Center the icons vertically */
    gap: 40px;               /* Space between the icons */
    margin-top: 40px;        /* Space from the top */
}

/* Style for each icon link */
.social-icons a {
    font-size: 40px;         /* Icon size */
    color: #333;             /* Icon color */
    transition: color 0.3s;  /* Smooth color transition for hover effect */
    text-decoration: none;   /* Remove underline from the link */
}

/* Hover effect for the icons */
.social-icons a:hover {
    color: #007BFF;          /* Change this to your desired hover color */
}



@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Responsiveness */
@media screen and (max-width: 768px) {
    .main-img {
        width: 100%;
    }

    .par {
        font-size: 1em;
        border-left: none;
        padding-left: 0;
    }
}

